

.footer{
    background: #032541;
    padding: 50px 0 50px 0;
}
.footer-link-title{
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-link-subtitle{
    color: white;
    font-size: 17px;
    line-height: 25px;
}
